<launch>
    <!-- livox_ros_driver2 -->
        <include file="$(find vertical_aam)/launch/lidar/msg_MID360.launch">
            <arg name="publish_freq" default = "100.0"/>
            <arg name="config_name" default = "MID360_config_0.json"/>
        </include>

    <!-- FAST-LIO -->
        <rosparam command="load" file="$(find vertical_aam)/cfg/MID360_cfgs/fast_lio_mid360_relocalise.yaml" />
        <param name="feature_extract_enable" type="bool" value="0"/>
        <param name="point_filter_num" type="int" value="1"/>
        <param name="max_iteration" type="int" value="5" />
        <param name="filter_size_surf" type="double" value="0.15" />
        <param name="filter_size_map" type="double" value="0.25" />
        <param name="cube_side_length" type="double" value="2000" />
        <param name="runtime_pos_log_enable" type="bool" value="0" />
        <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="log" />    

    <!-- SC-A-LOAM -->
        <include file="$(find aloam_velodyne)/launch/aloam_point_lio.launch"/>
</launch>