<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="empty"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <rosparam>
        /lidar_sim/rate: 1
        /lidar_sim/map_frame: camera_init
        /lidar_sim/lidar_frame: aft_mapped
        /lidar_sim/noise_mu: 0.0
        /lidar_sim/noise_sigma: 0.05
        /lidar_sim/world_samples: 2500000
    </rosparam>
    <node name="lidar_sim" pkg="vertical_aam" type="lidar_sim.py" required="false" output="screen">
        <param name="world_dir" value="$(find mavlink_sitl_gazebo)/worlds/$(arg world_name).world" />
        <param name="x" value="$(arg x)" />
        <param name="y" value="$(arg y)" />
        <param name="z" value="$(arg z)" />
    </node>
</launch>