<launch>
        <!-- LiDAR centre to FCU -->
        <arg name="x_lidar2base" default="-0.13"/>
        <arg name="y_lidar2base" default="0"/>
        <arg name="z_lidar2base" default="-0.069"/>
        <arg name="R_lidar2base" default="0"/>
        <arg name="P_lidar2base" default="0"/>
        <arg name="Y_lidar2base" default="0"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="transform_lidar2base" args="$(arg x_lidar2base) $(arg y_lidar2base) $(arg z_lidar2base) $(arg R_lidar2base) $(arg P_lidar2base) $(arg Y_lidar2base) aft_mapped base_link" />
        
    <!-- Height of LiDAR from ground plane -->
        <arg name="x_ground2lidar" default="0.13"/>
        <arg name="y_ground2lidar" default="0"/>
        <arg name="z_ground2lidar" default="0.369"/>
        <arg name="R_ground2lidar" default="0"/>
        <arg name="P_ground2lidar" default="0"/>
        <arg name="Y_ground2lidar" default="0"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="transform_ground2lidar" args="$(arg x_ground2lidar) $(arg y_ground2lidar) $(arg z_ground2lidar) $(arg R_ground2lidar) $(arg P_ground2lidar) $(arg Y_ground2lidar) map camera_init_map" />

    <!-- Reverse direction of tooltip -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="transform_print_reversed" args="0 0 0 0 3.14159 0 tooltip_init tooltip_init_r" />


    <arg name="lidar_json" default="$(find vertical_aam)/cfg/MID360_cfgs/MID360_config_2.json"/>
    <arg name="lidar_yaml" default="$(find vertical_aam)/cfg/MID360_cfgs/fast_lio_mid360.yaml"/>

    <!-- livox_ros_driver2 -->
        <include file="$(find vertical_aam)/launch/lidar/msg_MID360.launch">
            <arg name="publish_freq" default = "20.0"/>
            <arg name="config_name" default = "$(arg lidar_json)"/>
        </include>

    <!-- FAST-LIO -->
        <rosparam command="load" file="$(arg lidar_yaml)" />
        <param name="feature_extract_enable" type="bool" value="0"/>
        <param name="point_filter_num" type="int" value="2"/>
        <param name="max_iteration" type="int" value="3" />
        <param name="filter_size_surf" type="double" value="0.15" />
        <param name="filter_size_map" type="double" value="0.25" />
        <param name="cube_side_length" type="double" value="2000" />
        <param name="runtime_pos_log_enable" type="bool" value="0" />
        <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="log" />    

    <!-- SC-A-LOAM -->
        <include file="$(find aloam_velodyne)/launch/aloam_point_lio.launch"/>
        <node name="pgo_services" pkg="aloam_velodyne" type="pgo_services.py" required="true" output="screen"/>

    <!-- PIXHAWK -->
        <include file="$(find vertical_aam)/launch/flight_controller/mavros_node.launch"/>
</launch>